.item-container {
  display: grid;
  grid-template-columns: 38% 20% 5% 37%;
  gap: 0 10px;
  background: #fff;
  padding: 2rem 0.188rem 1.625rem 1.688rem;
  border-radius: 4px;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  font-weight: bold;
  margin: 3% 10%;
}

.left-item p {
  opacity: 0.5;
  font-size: 0.875rem;
  letter-spacing: normal;
  margin-bottom: 0.25rem;
  color: black;
}

.left-item h2 {
  font-size: 1.375rem;
  letter-spacing: -0.2px;
}

.left-item span {
  color: #4386bf;
  font-size: 0.875rem;
  font-weight: 300;
}

button {
  border: none;
  background: none;
  margin: 0.188rem 0.938rem 0.125rem 0;
  font-family: var(--font-2);
  font-size: 0.875rem;
  font-weight: 300;
  color: #4386bf;
  cursor: pointer;
}

.separation-left {
  width: 0.125rem;
  height: 1.5rem;
  margin: 0.75rem 1.063rem 0 0.438rem;
  border: solid 1px #e8e8e8;
  background: #e8e8e8;
}

.separation-right {
  width: 0.125rem;
  height: 5.375rem;
  margin: 1.125rem;
  border: solid 1px #e8e8e8;
  background: #e8e8e8;
}

.progress-item {
  display: flex;
  align-items: center;
  color: #e8e8e8;
}

.progress-text {
  margin-left: 1.313rem;
}

.progress-text p {
  font-size: 2rem;
  color: #121212;
}

.progress-text span {
  font-size: 0.875rem;
  color: #121212;
  opacity: 0.6;
}

.chapter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: var(--font-2);
  font-weight: 300;
}

.chapter p {
  margin: 0.063rem 3.625rem 0 0;
  opacity: 0.5;
  font-size: 0.813rem;
}

.chapter span {
  margin: 0.438rem 6.813rem 0.25rem 0;
  font-size: 1rem;
  letter-spacing: -0.4px;
}

.chapte-progress-btn {
  width: 11.5rem;
  height: 2.063rem;
  margin-top: 1.438rem;
  padding: 0.438rem 1.188rem 0.5rem 1.375rem;
  border-radius: 3px;
  background-color: #0290ff;
  color: #fff;
}
